%li.issue
  .first-row
    .info.pull-left
      %div
        %div
          %a.js-issue-link{'href' => '#/{{number}}'}= '#{{number}}'
          %span {{title}}
      %div
        .item.pull-left
          %select.type-switch{'ng-model' => 'type', 'ng-options' => 't as t | uppercase for t in types'}
        .item.pull-left
          %span{'class' => '{{state}}'} {{state}}
        .item.pull-left
          / t('views.issues.estimated.long')
          %span{'title' => 'Estimated hours'}= "EH:"
          / %input.eh{'value' => '{{estimatedHours ? estimatedHours : 0}}', 'type' =>'number', 'step' => '0.5', 'min' => '0'}
          %input.eh{'ng-model' => 'estimatedHours', 'ng-change' => 'updateEstimatedHours()', 'type' =>'number', 'step' => '0.5', 'min' => '0'}
          {{estimatedHours}}
        .item.pull-left
          //title: t('views.issues.worked.long')
          %span{'title' =>'Worked hours'}= "WH"
          %input.wh{'value' => '{{workedHours ? workedHours : 0}}', 'type' => 'number', 'step' => '0.5', 'min' => '0'}
  .dates
    .pull-left
      / t('views.issues.created_at')
      %span Created {{createdAt | timeago}}
    .pull-right
      / t('views.issues.updated_at')
      %span Updated {{updatedAt | timeago}}