%div
  / = t('views.projects.public')
  %h2 Proyectos públicos 
  %mgmt:projects{'items' => 'public'}

%div
  / = t('views.projects.private')
  %h2 Proyectos privados
  %mgmt:projects{'items' => 'private'}
