%h1.capitalize
  {{project.name}}
  %a{'href' => '/#/projects/{{project.name}}/settings'} settings
/ .filters
/   .pull-right#pull-requests
/     = t("views.filters.pull_requests")
/     .btn-group{'data-toggle' => "buttons-radio"}
/       %button.btn.btn-mini.btn-success
/         = t("views.filters.on")
/       %button.btn.btn-mini.btn-danger
/         = t("views.filters.off")
.row-fluid#milestones
  .issues
    .span6
      .current-milestone {{project.currentMilestone.title}}
      %div{'ng-repeat' => 'issue in project.currentMilestone.issues'}
        %mgmt:issue{'type' => '{{issue.issue_type}}', 'title' => '{{issue.title}}', 'number' => '{{issue.number}}', 'status' => '{{issue.status}}', 'state' => '{{issue.state}}', 'status' => '{{issue.status}}','estimated-hours' => '{{issue.estimated_hours}}', 'worked-hours' => '{{issue.worked_hours}}', 'created-at' => '{{issue.created_at}}', 'updated-at' => '{{issue.updated_at}}'}
    .backlog.span6
      %accordion.milestones{'close-other' => 'true'}
        %accordion-group{'heading' => '{{milestone.title}}', 'ng-repeat' => 'milestone in project.milestones'}
          %div{'ng-repeat' => 'issue in milestone.issues'}
            %mgmt:issue{'type' => '{{issue.issue_type}}', 'title' => '{{issue.title}}', 'number' => '{{issue.number}}', 'status' => '{{issue.status}}', 'state' => '{{issue.state}}', 'status' => '{{issue.status}}','estimated-hours' => '{{issue.estimated_hours}}', 'worked-hours' => '{{issue.worked_hours}}', 'created-at' => '{{issue.created_at}}', 'updated-at' => '{{issue.updated_at}}'}
